@import 'forAll';

.preview {
	padding: 28px 0 100px 0;
	position: relative;
}

.preview__life {
	font-weight: 700;
	font-size: 20px;
	margin-left: 35px;
	margin-top: 35px;
}

.bgc_blue {
	position: absolute;
	right: 0;
	top: -155px;
	width: 50vw;
	height: 900px;
	background: rgba(146, 242, 255, .15);
	z-index: -1;
}

.tabcontainer {
	display: flex;
	max-width: 1130px;
	margin: 0 auto;
	box-shadow: 0 4px 30px rgba(0, 0, 0, .25);
}

.tabcontent {
	width: 850px;
	height: 570px;
	position: relative;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.tabcontent__descr {
	position: absolute;
	top: 300px;
	right: -177px;
	width: 40vw;
	height: 315px;
	background: rgba(251, 254, 93, .8);
	padding: 50px;
	font-size: 24px;
	font-weight: 300;
	line-height: 36px;
	color: $color_3;
}

.tabheader {
	width: 280px;
	padding: 35px 30px;
	background-color: $background-color_1;

	h3 {
		font-weight: 700;
		font-size: 16px;
	}
}

.tabheader__items {
	margin-top: 35px;
	padding-left: 26px;
	border-left: 1px solid #000;
	word-wrap: break-word;
	height: 90%;
}

.tabheader__item {
	font-weight: 700;
	font-size: 18px;
	font-weight: 300;
	margin-top: 10px;
	color: $color_4;
	cursor: pointer;
	transition: .3s all;
}

.tabheader__item_active {
	color: $color_5;
	font-size: 22px;
	font-weight: 700;
}

.offer {
	padding: 70px 0 100px 0;
	position: relative;

	.container {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		padding: 0 30px;
	}

	.bgc_y {
		position: absolute;
		width: 80vw;
		height: 780px;
		background: rgba(243, 255, 222, .45);
		z-index: -1;
		top: 50px;
	}


	.offer__text {
		width: 580px;
	}

	.offer__descr {
		font-size: 18px;
		margin-top: 30px;
		font-weight: 300;
		line-height: 24px;
	}

	.offer__action {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.offer__advantages {
		width: 330px;
		margin-top: 50px;

		h2 {
			font-weight: 700;
			font-size: 20px;
			margin-top: 20px;

			&:first-child {
				margin-top: 70px;
			}
		}
	}

	.offer__advantages-text {
		margin-top: 20px;
		font-size: 18px;
		font-weight: 300;
		line-height: 21px;
	}

	.offer__slider {
		width: 500px;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		#current {
			font-size: 48px;
			font-weight: 700;
			color: $color_5;
		}
	}

	.offer__slider-counter {
		display: flex;
		width: 180px;
		align-items: center;
		font-size: 24px;
		color: $color_6;
	}

	.offer__slider-wrapper {
		width: 500px;
		height: 420px;
		margin-top: 15px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, .25);
	}

	.offer__slider-prev {
		margin-right: 10px;
		cursor: pointer;
	}

	.offer__slider-next {
		margin-left: 10px;
		cursor: pointer;
	}

	.offer__slide {
		width: 100%;
		height: 420px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}


.order {
	padding-bottom: 80px;

	.title {
		text-align: center;
	}
}

.order__form {
	margin-top: 70px;
	padding: 0 5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;

	img {
		transform: scale(1.5);
	}
}

.down__arrow {
	display: none;
}

.order__input {
	width: 280px;
	height: 50px;
	background: #fff;
	box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
	border: none;
	font-size: 18px;
	text-align: center;
	padding: 0 10px;
	outline: 0;
}


.promotion {
	padding: 70px 10px 240px 10px;
	position: relative;

	.container {
		display: flex;
	}

	.bgc_y {
		position: absolute;
		width: 50vw;
		height: 499px;
		background: rgba(243, 255, 222, .35);
		z-index: -1;
		top: -50px;
		left: 0;
	}
}

.promotion__text {
	width: 50%;
}

.promotion__descr {
	margin-top: 40px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;

	span {
		font-weight: 700;
		font-size: 26px;
	}
}

.promotion__timer {
	width: 50vw;
	padding-right: 20px;

	.title {

		padding-left: 9vw;
	}

	.timer {
		margin-top: 60px;
		padding-left: 9vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.timer__block {
		width: 102px;
		height: 120px;
		background: #fff;
		box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
		font-size: 16px;
		font-weight: 300;
		text-align: center;

		span {
			display: block;
			margin-top: 20px;
			margin-bottom: 5px;
			font-size: 56px;
			font-weight: 700;
		}
	}
}

/*
	/----------------------------------------------\

	--------------------media-----------------------

	\----------------------------------------------/
*/
@media screen and (max-width: 1400px) {
	.tabcontent__descr {
		padding: 35px;
		font-size: 18px;
		font-weight: 300;
		line-height: 26px;
		height: auto;
	}


	.preview .container {

		width: 90%;

	}

	.tabcontent {
		height: 433px;
	}

	.menu__field {
		margin-top: 20px;
	}

	.menu__item-subtitle {
		font-size: 16px;
	}

	.menu__item {
		width: 310px;
		font-size: 15px;
	}

	.container:last-child {
		.divider {
			margin-top: 0px;
		}
	}

	.title {
		font-size: 30px;
	}

	.promotion__timer .timer__block {
		width: 90px;
		height: 110px;
	}

	.promotion__timer .timer__block span {
		font-size: 48px;
	}

	.promotion__timer {
		width: 50vw;
		padding-right: 20px;


		.timer {
			padding-left: 7vw;
		}
	}


}

@media (min-width: 320px) and (max-width: 960px) {

	.preview {
		padding-bottom: 100px;

		.bgc_blue {
			height: calc(60vw + 200px);
		}

		.container {

			.tabcontainer {
				height: 60vw;


				.tabcontent {
					height: 60vw;

					.tabcontent__descr {
						top: 65%;
						left: -10px;
						width: 65vw;
						font-size: 12px;
						line-height: 20px;
						padding: 25px;
					}
				}
			}

			.tabheader {
				padding: 20px 10px 20px 10px;
				width: 30vw;

				h3 {
					text-align: center;
					font-size: 16px;
				}

				.tabheader__items {
					border: none;
					padding: 0;
					margin-top: 0;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					.tabheader__item {
						font-weight: 500;
						font-size: 12px;
						margin-top: 0;
						text-align: center;
						padding: calc(3px + 1.5vw) 10px;
						background-color: #DFDFDF;
						border-radius: 50vw;
					}

					.tabheader__item_active {
						background-color: #9B9B9B;
					}
				}
			}

			.preview__life {
				display: none;
			}
		}
	}



	.offer {
		padding-bottom: 50px;

		.bgc_y {
			width: 100%;
			height: 800px;
		}


		.container {
			padding: 0 15px;
			flex-direction: column-reverse;

			.offer__action {
				display: none;
			}

			.offer__text {
				width: 100%;
				text-align: center;

				.title {
					font-size: 18px;
					font-weight: 500;
				}

				.offer__descr {
					font-size: 14px;
					line-height: 20px;
				}
			}

			.offer__slider {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				.offer__slider-counter {
					width: 100%;
					display: flex;
					justify-content: center;

					span#current {
						font-size: 8vw;
					}

					span#total {
						font-size: 4vw;
					}
				}

				.offer__slider-wrapper {
					width: 80%;
					height: 50vw;


					.offer__slide {
						height: 100%;
					}
				}
			}

			.offer__advantages {
				display: flex;
				flex-direction: row;
				width: 100%;
				margin-top: 0;

				.offer_advantages-container {
					width: 50%;

					h2 {
						margin-top: 20px;
						font-size: 16px;
					}

					.offer__advantages-text {
						line-height: 20px;
						font-size: 12px;
					}
				}
			}
		}
	}



	.order {
		margin-top: 30px;

		.container {

			.title {
				font-size: 18px;
			}

			.order__form {
				flex-direction: column;
				margin-top: 20px;

				.right__arrow {
					display: none;
				}

				.down__arrow {
					display: block;
					width: 3vw;
					max-width: 10px;
					margin-top: 15px;
				}


				.order_mob {
					border-radius: 10vw;
					margin-top: 15px;
					width: 70vw;
					font-size: 14px;
					height: calc(30px + 4vw);
				}
			}

		}
	}

	.promotion {
		padding: 50px 10px 100px;

		.bgc_y {
			width: 100%;
			height: calc(300px + 10vw);
		}

		.container {
			flex-direction: column;

			.promotion__text {
				width: 100%;
				margin-bottom: 50px;

				.title {
					text-align: center;
					font-size: 18px;
				}

				.promotion__descr {
					padding: 0 20px 20px 20px;
					font-size: 14px;
					line-height: calc(10px + 3vw);
				}
			}

			.promotion__timer {
				width: 100%;
				padding: 0;

				.title {
					text-align: center;
					padding: 0;
					font-size: 5vw;
				}

				.timer {
					padding: 0 10px;
					justify-content: center;


					.timer__block {
						width: 65px;
						height: 80px;
						font-size: 14px;
						margin-left: 15px;


						span {
							font-size: 30px;
							margin-top: 20%;
						}
					}

					:first-child {
						margin-left: 0;
					}
				}
			}
		}
	}


}

@media (min-width: 750px) and (max-width: 960px) {

	.offer {
		padding-bottom: 50px;

		.bgc_y {
			width: 100%;
			height: 900px;
		}
	}
}

@media (min-width: 320px) and (max-width: 500px) {
	.preview {

		.container {

			.tabcontainer {
				height: 60vw;


				.tabcontent {
					height: 60vw;

					.tabcontent__descr {
						font-weight: 500;
						line-height: 16px;
						padding: 15px;
					}
				}
			}

			.tabheader {
				padding: 10px 10px 10px 10px;

				.tabheader__items {
					border: none;
					padding: 0;
					margin-top: 0;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					h3 {
						font-size: 14px;
					}

					.tabheader__item {
						font-size: 12px;
						margin-top: 0;
						text-align: center;
						padding: calc(3px + 1.5vw) 10px;
						background-color: #DFDFDF;
						border-radius: 50vw;
					}
				}
			}
		}
	}


	.offer {
		.bgc_y {
			height: 750px;
		}
	}
}