@import 'forAll';

.calculating {
    .container {
        padding: 50px 0;

        .title {
            text-align: center;
        }

        .calculating__field {
            width: 100%;
            margin-top: 50px;
            background: rgba(146, 242, 255, .15);
            padding: 30px 0 40px 0;

            .calculating__subtitle {
                text-align: center;
                font-size: 18px;
                font-weight: 700;
                margin-top: 30px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        #gender {
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                width: 16px;
                height: 16px;
                background: url(../icons/switch.svg) center center/cover no-repeat;
            }
        }

        .calculating__choose {
            position: relative;
            display: flex;
            margin-top: 30px;
            justify-content: center;

            .calculating__choose-item {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 170px;
                height: 50px;
                padding: 0 10px;
                background: #fff;
                box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
                border: none;
                text-align: center;
                font-size: 14px;
                cursor: pointer;
                outline: 0;
                transition: .3s all;
            }

            .calculating__choose-item_active {
                color: $color_1;
                background-color: $background-color_5;
            }
        }

        .calculating__choose_medium {
            width: 743px;
            justify-content: space-between;
            margin: 30px auto 0 auto;
        }

        .calculating__choose_big {
            width: 930px;
            justify-content: space-between;
            margin: 30px auto 0 auto;

            .calculating__choose-item {
                width: 200px;
            }
        }

        .calculating__divider {
            width: 490px;
            height: 1px;
            margin: 40px auto;
            background-color: $background-color_6;
        }

        .calculating__total {
            width: 490px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .calculating__result {
                font-size: 18px;
                font-weight: 700;

                span {
                    font-size: 42px;
                }
            }
        }
    }
}


.menu {
    padding: 40px 0 50px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .title {
        text-align: center;
        font-weight: 500;
        font-size: 18px;

    }
}

.menu__field {
    margin-top: 50px;
    width: 100%;
    background: rgba(249, 254, 126, .25);
    padding: 50px 10px;
}

.menu__item {
    width: 320px;
    min-height: 450px;
    background: #fff;
    box-shadow: 0 4px 25px rgba(0, 0, 0, .25);
    font-size: 16px;
    font-weight: 500;


    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

.menu__item-subtitle {
    font-weight: 700;
    font-size: 18px;
    padding: 0 20px;
    margin-top: 20px;
}

.menu__item-descr {
    margin-top: 20px;
    padding: 0 20px;

}

.menu__item-divider {
    width: 100%;
    height: 1px;
    background-color: $background-color_7;
    margin-top: 40px;
}

.menu__item-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    span {
        font-size: 24px;
        font-weight: 700;
    }
}


.order {
    padding-bottom: 80px;

    .container {

        .title {
            text-align: center;
        }

        .order__form {
            margin-top: 70px;
            padding: 0 5vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                transform: scale(1.5);
            }
        }

        .down__arrow {
            display: none;
        }

        .order__input {
            width: 280px;
            height: 50px;
            background: #fff;
            box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
            border: none;
            font-size: 18px;
            text-align: center;
            padding: 0 10px;
            outline: 0;
        }
    }
}

/*
	/----------------------------------------------\

	--------------------media-----------------------

	\----------------------------------------------/
*/

@media screen and (max-width: 1400px) {
    .header {

        .header__left-block {
            min-width: 0;

            .header__logo {
                margin-right: 30px;
            }
        }
    }

    .sidepanel {
        display: none;
    }
}


@media (min-width: 320px) and (max-width: 980px) {

    .calculating {

        .container {

            .title {
                font-size: 24px;
            }

            .calculating__choose {
                width: 100%;
                flex-wrap: wrap;
            }

            .calculating__choose_medium {
                width: 100%;
                padding: 20px 35px;
            }

            .calculating__choose_big {
                width: 100%;
                align-items: center;
                padding: 20px 150px;

                .calculating__choose-item {
                    width: 200px;
                    margin-bottom: 35px;
                }
            }

            .calculating__divider {
                width: 100%;
                height: 1px;
                margin: 40px auto;
                background-color: $background-color_6;
            }

            .calculating__total {
                width: 100%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                .calculating__result {

                    font-size: 18px;
                    font-weight: 700;

                    span {
                        font-size: 42px;
                    }
                }
            }
        }
    }

    .menu {
        .title {
            font-size: 25px;
        }

        .menu__field {

            .menu__container {
                flex-direction: column;

                .menu__item {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    min-height: 0;
                    margin-bottom: 35px;

                    .menu__imgage {
                        width: 40%;

                        img {
                            width: 38vw;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .menu__item__container {
                        width: 60%;
                        min-height: none;

                        .menu__item-subtitle {
                            font-size: 20px;
                        }

                        .menu__item-descr {
                            font-size: 14px;
                        }

                        .menu__item-divider {
                            margin-top: 15px;
                        }
                    }
                }
            }
        }

    }

    .order {
        margin-top: 30px;

        .container {

            .title {
                font-size: 18px;
            }

            .order__form {
                flex-direction: column;
                margin-top: 20px;

                .right__arrow {
                    display: none;
                }

                .down__arrow {
                    display: block;
                    width: 3vw;
                    max-width: 10px;
                    margin-top: 15px;
                }


                .order_mob {
                    border-radius: 10vw;
                    margin-top: 15px;
                    width: 70vw;
                    font-size: 14px;
                    height: calc(30px + 4vw);
                }
            }

        }
    }
}

@media (min-width: 320px) and (max-width: 700px) {

    .calculating {
        .container {

            .calculating__choose {
                width: 100%;
            }

            .calculating__choose_medium {
                width: 100%;
                justify-content: center;
                padding: 20px 35px;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                .calculating__choose-item {
                    margin-bottom: 35px;
                }


            }

            .calculating__choose_big {
                width: 100%;
                justify-content: space-between;
                align-items: center;
                margin: 30px auto 0 auto;
                padding: 20px 50px;

                .calculating__choose-item {
                    margin-bottom: 35px;
                }
            }

            .calculating__divider {
                width: 100%;
            }

            .calculating__total {
                width: 100%;
                flex-wrap: wrap;

                .calculating__result {
                    span {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .menu {
        .title {
            font-size: 20px;
        }

        .menu__field {

            .menu__container {
                flex-direction: column;
                align-items: center;

                .menu__item {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    width: 80%;
                    min-height: 0;
                    margin-bottom: 35px;

                    .menu__imgage {
                        width: 100%;
                        height: 190px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                        }
                    }

                    .menu__item__container {
                        width: 100%;
                        min-height: none;

                        .menu__item-subtitle {
                            text-align: center;
                            font-size: 16px;
                        }

                        .menu__item-descr {
                            text-align: center;
                            font-size: 12px;
                        }

                        .menu__item-divider {
                            margin-top: 15px;
                        }
                    }
                }
            }
        }

    }

    .menu {
        padding: 40px 0 50px 0;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .title {
            text-align: center;
        }
    }

    .menu__field {
        margin-top: 50px;
        width: 100%;
        background: rgba(249, 254, 126, .25);
        padding: 50px 10px;
    }

    .menu__item {
        width: 320px;
        min-height: 450px;
        background: #fff;
        box-shadow: 0 4px 25px rgba(0, 0, 0, .25);
        font-size: 16px;
        font-weight: 500;


        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }

    .menu__item-subtitle {
        font-weight: 700;
        font-size: 18px;
        padding: 0 20px;
        margin-top: 20px;
    }

    .menu__item-descr {
        margin-top: 20px;
        padding: 0 20px;

    }

    .menu__item-divider {
        width: 100%;
        height: 1px;
        background-color: $background-color_7;
        margin-top: 40px;
    }

    .menu__item-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;

        span {
            font-size: 24px;
            font-weight: 700;
        }
    }
}

@media (min-width: 320px) and (max-width: 700px) {

    .header .header__left-block .header__logo {
        font-size: 12px;
    }

    .calculating__choose_big {
        align-items: center;
        flex-direction: column;
    }
}